<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li class="active">Check out</li>
			</ol>
		</div><!--/breadcrums-->

		<div class="step-one">
			<h2 class="heading">Revisión & Pago</h2>
		</div>
		<div class="checkout-options">
			<h3>Usuario : {{memberinfo}}</h3>
			<p>Opciones de pago</p>
			<ul class="nav">
				<li>
					<a href="">Ver factura</a>
				</li>
				<li>
					<a href=""><i class="fa fa-times"></i>Cancelar pedido</a>
				</li>
				<li>
					<a href="" ng-click="logout()"> <i class="fa fa-times"></i>Cerrar la sesión</a>
				</li>
			</ul>
		</div><!--/checkout-options-->

		<div class="register-req">
			<p>Para poder comprar tienes que: <br> introducir los datos de la tarjeta y esperar que el banco responda</p>
		</div><!--/register-req-->

		<div class="shopper-informations">
			<div class="row">
				<div class="col-sm-3">
					<div class="shopper-info">
						<a class="btn btn-primary" href="">Regresar</a>
					</div>
				</div>
				<div class="col-sm-5 clearfix">
					<div class="bill-to">
						<div class="shopper-info">
							<p>Información de la tarjeta</p>
							<form name="myForm" ng-submit="submit(myForm)" novalidate>
							    <input type="text" placeholder="Nombre" ng-model="nombre">
								<input type="number" placeholder="Número de tarjeta" ng-model="numeroTDC">
								<input type="text" placeholder="Nombre del titular de la TDC" ng-model="nombreTDC">
								<input type="number" placeholder="Números de seguridad" ng-model="numerosSeguridad">
								<input type="month" placeholder="Fecha de vencimiento de la TDC" ng-model="fechaVencimiento">
								<input type="text" placeholder="Email" ng-model="email">
								<input type="text" placeholder="Dirección" ng-model="direccion">
							    <button type="submit" class="btn btn-primary" ng-disabled="isDisabled">Comprar</button>
							</form>
							
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="order-message">
						<a class="btn btn-primary" href="">Volver al carrito</a>
					</div>	
				</div>				
			</div>
		</div>
		<div class="review-payment">
			<h2>Revisión & Pago</h2>
		</div>

		<div class="table-responsive cart_info" >
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Producto</td>
						<td class="description">Descripción</td>
						<td class="price">Precio</td>
						<td class="quantity">Cantidad</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="prod in udpShopContent">
						<td class="cart_product">
							<a href=""><img ng-src="{{prod.img}}" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">{{prod.nombre}}</a></h4>
							<p>Web ID: {{prod.id}}</p>
						</td>
						<td class="cart_price">
							<p>${{prod.price}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" href=""> + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
								<a class="cart_quantity_down" href=""> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">${{roundCurrency(prod.price * prod.qty)}}</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times" ng-click="remove(prod.id)"></i></a>
						</td>						
					</tr>
					<tr>
     					<td colspan="6">Número total de artículos: {{ udpShopTotalProducts }}</td>
     				<tr>
     				<tr>
     					<td colspan="6">Precio total del carrito: {{ roundCurrency(udpShopTotalPrice) }}</td>
     				<tr>
					
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->

